<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>要升级时请尽量将战斗能量与护盾能量消耗光，因为升级后会无条件补满，不要浪费。</string>
	<string>转生之后等级归“1”.有些带有等级限制的装备会被自动卸除到物品栏里</string>
	<string>人生只有一次，不要盲目的分配属性点</string>
	<string>一个会解散自己联盟的会长不是好玩家</string>
	<string>联盟成员越多，您的联盟越强大。</string>
	<string>一天有三次免费机会发起联盟战争。</string>
	<string>联盟战失败方12个小时内受系统保护，不可再次被攻击</string>
	<string>在这个战火纷飞的年代，要么选择搞别人要么选择被别人搞。</string>
	<string>出来混，靠的就是兄弟多。</string>
	<string>加好友后，遭遇战中通过相近等级不能被搜索到。</string>
	<string>低等级素材卡在游戏后期的价值就不多说了，就算你没有用处请保留。</string>
	<string>SAT卡是很稀有的，在系统商店是不售卖的。</string>
	<string>时刻注意您的信息栏，里面有很多很有价值的奖品。</string>
	<string>可以使用防御矩阵保护您获得的元素，防止被其它玩家抢夺。</string>
	<string>玩家可持有水晶上限是99,999,999，超过上限，超出的部分将被自动丢弃。</string>
	<string>你可以购买VIP会员，享受会员专属的游戏特权</string>
	<string>水晶是游戏的世界货币。它可以用来强化、进化佣兵以及提高联盟的发展度。</string>
	<string>您可以通过执行征程任务或出售佣兵获得水晶</string>
	<string>攻击比自己低很多等级玩家时，会一定几率触发“天谴”你有可能死非常惨。</string>
	<string>请经常上线关注您的资源，日防夜防，坏人难防。</string>
	<string>对于结仇的敌人要么把对方彻底弄死，要么等着被虐死</string>
	<string>进化与强化皆要耗费水晶</string>
	<string>异灵佣兵基础战斗力较高，防护力低。</string>
	<string>泰坦佣兵基础战斗力较低，防护力高。</string>
	<string>人类佣兵战斗力，防护力较为平衡。</string>
	<string>执行征程任务可以获得经验值，当经验值积攒到一定程度时玩家将会升级。</string>
	<string>玩家通过充值购买的货币，通过钻石可以抽取卡包或者购买系统商店中的物品道具。</string>
	<string>经常去拍卖行转转您将会有意想不到的收获。</string>
	<string>在征程中获得的道具“星门入场券“可进入到装备副本。</string>
	<string>装备有白装，蓝装，紫装，橙装，红装5个等级</string>
	<string>套装的加成效果是非常强力的</string>
	<string>关注时之空官方微信公众平台：“星际LOL”您将会收到更多奖品礼包。</string>
	<string>顶级卡牌和装备可以通过特定活动获得。</string>
	<string>关注“MobileArt官方微博”；您将会收获更多意想不到的奖励。</string>
	<string>佣兵最高星级为7星。</string>
	<string>最顶级的红装只有通过活动才能获得。</string>
	<string>官方工作人员绝不会询问您的账号密码，有人问你照死喷他。</string>
	<string>星门入场券系统商店有售哦！</string>
	<string>顶好友，可获得招募点数。消耗招募点数可以免费抽取普通佣兵卡包。</string>
	<string>一个元素由六个元素碎片组成；执行任务，掠夺其他玩家可以获得元素。</string>
	<string>根据你完成的成就在里程碑系统获得相对应的奖励。</string>
	<string>游戏运营方会不定期更新新奇的游戏内容</string>
	<string>PVP胜利方将会掠夺失败方的大量物资！</string>
	<string>联盟会长可指派联盟成员的职位。</string>
	<string>VIP星系联盟所有成员享受联盟商店物品一律8折。</string>
	<string>“VIP会员”好用不贵，实在是居家旅行，杀人灭口必备良药</string>
	<string>传说凑齐五张7星80级佣兵家伙将会…</string>
	<string>如果你想做一名战争商人，拍卖行是你应该经常去逛的。</string>
	<string>异灵佣兵对人类佣兵在战斗中产生额外的伤害加成</string>
	<string>人类佣兵对泰坦佣兵在战斗中产生额外的伤害加成</string>
	<string>泰坦佣兵对异灵佣兵在战斗中产生额外的伤害加成</string>
	<string>星际难民营在每天中午和晚上免费为您补给一次资源</string>
	<string>请记住一切战争的实力便是经济。</string>
	<string>请记住，无论做什么都要适度---星际LOL</string>
	<string>您的药水永远不会过期，所以您不需要冰箱。</string>
	<string>赠送给您的道具和物品不可以在拍卖行出售。</string>
	<string>坚持连续登陆可以获得更多的奖励</string>
	<string>坚持每天登陆可以获得额外属性加成，最高战斗加成7%</string>
	<string>您在游戏中有任何疑问可通过邮件或微信,QQ客服询问我们的官方工作人员。</string>
	<string>请记得每天登陆一下星际LOL领取您的当日奖励。</string>
	<string>星际难民营开放时间为中午12:00-13：00；下午17:30-18：30</string>
	<string>星际慈善会告诉我们世界上总有好人，你将来强大了要记得这些帮助过你的人。</string>
	<string>添加好友可以活动额外的属性点</string>
</array>
</plist>
